@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .navLink {
    @apply cursor-pointer px-4 py-2 hover:bg-gray-300 transition-colors ease-in rounded-sm;
  }

  .formButton {
    @apply w-[100%] p-2  bg-purplePri hover:bg-purpleSec rounded-md font-semibold text-white;
  }

  .paginationButton {
    @apply rounded-sm border-2 hover:bg-amber-600 hover:text-white p-2 transition-all
  }
}
